
<suite name="Suite" parallel="tests">
  <test name="TestFF">
  <parameter name="browser" value="firefox"/>
  <parameter name="ipaddr" value="http://10.10.4.166:4444/wd/hub"/>
    <classes>
      <class name="qsp.DemoA"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="TestGC">
  <parameter name="browser" value="chrome"/>
  <parameter name="ipaddr" value="http://10.10.4.166:4444/wd/hub"/>
    <classes>
      <class name="qsp.DemoA"/>
    </classes>
  </test > <!-- Test -->
</suite> <!-- Suite -->
